<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <title>Pedidex</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sistema Pedidex (Y)</h1>
        <div data-ng-controller="PageController as vm">
            <button type="button" data-ng-click="vm.buscar()">Buscar</button>
            <table>
                <tr data-ng-repeat="item in vm.registros track by $index">
                    <td>{{item.nome}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.telefone}}</td>
                </tr>
            </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script>
            (function() {
                angular.module("app", [])
                    .controller("PageController", PageController);
                
                PageController.$inject = ["$http"];
                    
                function PageController($http) {
                    
                    var vm = this;
                    vm.buscar = function() {
                        $http.get("http://localhost:8080/clientes")
                           .then(function(data) {
                             vm.registros = data;
                           })
                    };
                }
            })();
        </script>
    </body>
</html>
